.dashboard{
    padding: 10px 0;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 0.5fr 2fr;//0.5fr 2fr 1.5fr;
    min-height: 100%;
    gap: 10px;

    .mainInfoCards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .payments{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}