@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&family=IBM+Plex+Sans:wght@400;600;700&display=swap');

@import 'buttons';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  //typography
  --family: 'IBM Plex Sans', sans-serif;
  --sec-family: 'IBM Plex Mono', monospace;

  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;

  --accent-color: #5921B5;
  --accent-color-hover: #390096;
  --red: #FF0909;
  --green: #4CD3C2;
  --blue: #44BCFF;
}

body[data-theme='dark'] {
  --bg-color: #1E1E1E;
  --main-color: #1C1C1C;
  --f-color: #fff;
  --f-color-helper: #4d4d4d;
  --line-color: #272727;
}

body[data-theme='light'] {
  --bg-color: #F9F9F9;
  --main-color: #fff;
  --f-color: #000;
  --f-color-helper: #A6A6A6;
  --line-color: #F2F2F2;
}

body {
  // transition: all 0.2s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
  background-color: var(--bg-color);
  color: var(--f-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--sec-family);
}

input {
  font-size: var(--fs-md);
  font-family: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error_text {
  text-align: center;
  font-size: var(--fs-sm);
  color: var(--red)
}

p {
  margin: 0;
  padding: 0;
}

.flex-alc {
  display: flex;
  align-items: center;
}