.checkbox{
    display: flex;
    align-items: center;
}

.custom__checkbox {
    cursor: pointer;

    & input {
        display: none;

        &:checked~.checkmark::after {
            transition: background-color 0.2s ease;
            background-color: var(--accent-color);
        }

    }

    .checkmark {
        position: relative;
        display: block;
        background: transparent;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid var(--accent-color);
        margin-right: 12px;
        cursor: pointer;


        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 30px;
            background-color: transparent;
            transition: background-color 0.1s ease;

        }
    }
}