.section{
    grid-area: content;
}

.main{
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
    ;
    min-height: 100vh;
}
