.paymentsModel{
    .header{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .available_methods{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px 0;
    }
}

.method_info{
    border: 1px solid var(--green);
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}